@font-face {
  font-family: 'Latina';
  src: url('./Latinia.ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
}

/* content starts here

*/
#content {
  display: grid;
  position: relative;
  background-color: aqua;
  height: 100%;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 10% 1fr;
  grid-template-areas:
    'heading heading'
    'sidebar main';
  z-index: 0;
}

/* header starts here 

*/
.header-container {
  display: block;
  align-self: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  grid-area: heading;
  background-color: rgb(118, 170, 138);
}
.company-name {
  margin-top: 0.5rem;
  text-align: center;

  font-family: 'Latina';
  font-size: 2rem;
}
.banner-img {
  margin: 0;
  padding: 0;
  display: none;
  width: 5px;
}

/*  Sidebar starts here

*/
.sidebar-container {
  display: block;
  grid-area: sidebar;
  background-color: rgb(85, 114, 109);
}
.sidebarBtn-container {
  margin-top: 3rem;
  display: grid;
  justify-content: center;
  row-gap: 4rem;
  grid-template-rows: repeat(3, 1fr);
}
.contact-btn,
.menu-btn,
.hours-btn {
  cursor: pointer;
  height: fit-content;
  background: url('./flag.png') center/70% no-repeat rgb(104, 104, 104);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 0.5px 0.5px 2px rgb(255, 255, 255);
  border-radius: 1rem;
}

/* main starts here

*/
.main-container {
  grid-area: main;
  justify-content: center;
  background-color: rgb(124, 92, 53);
}
.main-content {
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;

  gap: 10px;
}
.text-content {
  background-color: rgb(196, 196, 196);
  flex-wrap: wrap;
  margin-top: 10px;
  height: fit-content;
  width: 90%;
  border: 1px solid black;
  border-radius: 2rem;
}
.main-text {
  padding: 10px;
  word-spacing: 0.1rem;
  font-size: 15px;
  text-shadow: 0.2px 0.2px 0.5px rgb(58, 58, 58);
}
.main-img {
  border: 2px solid black;
  border-radius: 1rem;
  background: url('./food1.jpg');
  width: 90%;
}

/* MODAL Containers Starts here*/
/* Contact Modal */
.contact-modal-container {
  backdrop-filter: blur(2px);
  display: none; /*change this back to none when complete*/
  justify-content: center;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.contact-form-container {
  padding: 0.5rem;
  row-gap: 10px;
  border: 3px solid #000000;
  border-radius: 2rem;
  display: none;
  align-self: center;
  background-color: #55726d;
  height: 50%;
  width: 80%;
  grid-template-rows: repeat(3, 1fr);
}
.contact-heading {
  font-family: 'Latina';
  text-shadow: 0.5px 0.5px 5px rgb(250, 111, 111);
  text-align: center;
}
.contact.form {
  display: flex;
}
.contact-fieldset {
  padding: 10px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}
.submit-btn-container {
  display: flex;
  justify-content: center;
}
.submit-btn {
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 5px 10px 5px 10px;
}
.close-btn {
  align-self: center;
  height: fit-content;
  width: 2.8rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 20rem;
  margin-left: 15rem;
  margin-bottom: 1rem;
}

/* Menu Modal Start Here

*/
.menu-container {
  padding: 0.5rem;
  row-gap: 1px;
  border: 3px solid #000000;
  border-radius: 2rem;
  display: none; /* This needs to be none after completion*/
  flex-direction: column;
  align-self: center;
  background-color: #55726d;
  height: fit-content; /* Change to (fit content uppon completion)*/
  width: 80%;
}
.menu-heading {
  text-align: center;
  font-family: 'Latina';
}
.items-container {
  overflow: hidden;
  overflow-y: scroll;
  display: grid;
  border-radius: 1rem;
  row-gap: 1rem;
  padding: 1rem;
  height: 18rem;
  grid-template-rows: repeat(auto-fill, 1fr);
  background-color: #6f8b86;
}
.item {
  box-shadow: 5px 5px;
  padding: 5px;
  background-color: rgb(66, 134, 212);
  /* border: 3px solid black; */
  border-radius: 1rem;
}
.item-img {
  border-radius: 1rem;
  margin: 0.5rem 0 0.5rem 2.5rem;
  height: 125px;
}
.item-heading {
  text-align: center;
  font-family: 'Latina';
  font-size: 1.5rem;
}
.item-comment {
  font-family: 'Latina';
}
.price {
  font-weight: bold;
  text-align: end;
  margin-right: 3px;
}

.menu-close-btn {
  align-self: center;
  height: fit-content;
  width: 2.8rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 20rem;
  margin-top: 1rem;
  margin-left: 15rem;
  margin-bottom: 1rem;
}

/* Hours Modal start here 

*/
.hours-container {
  padding: 0.5rem;
  row-gap: 1px;
  border: 3px solid #000000;
  border-radius: 2rem;
  display: none;
  align-self: center;
  background-color: #55726d;
  height: 50%;
  width: 80%;
  grid-template-rows: 2em 1fr 2em;
}
.hours-heading {
  font-family: 'Latina';
  text-shadow: 0.5px 0.5px 5px rgb(250, 111, 111);
  text-align: center;
  font-size: 1.5rem;
}
.hours-body {
  display: grid;
  padding: 1em;
  grid-template-rows: repeat(6, 1fr);
  background-color: antiquewhite;
  border: 3px solid black;
  border-radius: 2rem;
  margin: 1.5em;
}
.hrs,
.days {
  font-family: 'Latina';
  text-align: center;
}

.hrs {
  font-size: 12px;
}
.days {
  font-size: 18px;
  font-weight: 700;
}
.hours-close {
  align-self: center;
  height: fit-content;
  width: 2.8rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 20rem;
  margin-left: 15rem;
  margin-bottom: 1rem;
}

/* Changes to the page based on tablet view (min-width 768px ) */
@media only screen and (min-width: 768px) {
  #content {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 15% 1fr;
  }
  /* The banner and restaurant name section */
  .company-name {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 15rem;
    font-size: 3.5rem;
  }

  .banner-img {
    display: inline;

    width: 768px;
  }

  /* The main body */
  .text-content {
    margin-top: 10px;
    width: 60%;
  }

  .main-text {
    font-size: 20px;
  }

  /* Hours Modal */
  .hours-container {
    width: 60%;
  }
  /* Contact modal */
  .contact-form-container {
    width: 60%;
  }
  /* Menu modal */
  .menu-container {
    padding: 2rem;
    width: 60%;
  }
}
/* Changes to the page based on laptop view (min-width 1024px ) */
@media only screen and (min-width: 1024px) {
  #content {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr;
  }
  /* The banner and restaurant name section */
  .company-name {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 25rem;
    font-size: 3.5rem;
  }

  .banner-img {
    display: inline;
    width: 1024px;
  }

  /* The main body */
  .text-content {
    margin-top: 10px;
    width: 50%;
  }

  .main-text {
    font-size: 20px;
  }
  .main-img {
    width: 60%;
  }

  /* Hours Modal */
  .hours-container {
    width: 60%;
  }
  /* Contact modal */
  .contact-form-container {
    width: 60%;
  }
  /* Menu modal */
  .menu-container {
    padding: 2rem;
    width: 60%;
  }
}
/* Changes to the page based on laptop view (min-width 1440px ) */
@media only screen and (min-width: 1440px) {
  #content {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr;
  }
  /* The banner and restaurant name section */
  .company-name {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 35rem;
    font-size: 5rem;
  }

  .banner-img {
    display: inline;
    width: 1440px;
  }

  /* The main body */
  .text-content {
    margin-top: 10px;
    width: 45%;
  }

  .main-text {
    font-size: 25px;
  }
  .main-img {
    width: 45%;
    margin-left: 33em;
  }

  /* Hours Modal */
  .hours-container {
    width: 40%;
  }
  /* Contact modal */
  .contact-form-container {
    width: 40%;
  }
  /* Menu modal */
  .menu-container {
    padding: 2rem;
    width: 40%;
  }
}
/* Changes to the page based on laptop view (min-width 1669px ) */
@media only screen and (min-width: 1669px) {
  #content {
    grid-template-columns: 20% 1fr;
    grid-template-rows: 20% 1fr;
  }
  /* The banner and restaurant name section */
  .company-name {
    position: absolute;
    margin-top: 0.5rem;
    margin-left: 35rem;
    font-size: 8rem;
  }

  .banner-img {
    display: inline;
    width: 1669px;
  }

  /* The main body */
  .text-content {
    margin-left: 5rem;
    margin-top: 10px;
    width: 90%;
  }

  .main-text {
    font-size: 25px;
  }
  .main-img {
    width: 50%;
    margin-left: 20em;
  }

  /* Hours Modal */
  .hours-container {
    width: 30%;
  }
  /* Contact modal */
  .contact-form-container {
    width: 30%;
  }
  /* Menu modal */
  .menu-container {
    padding: 2rem;
    width: 40%;
  }
}
